@import "/src/app/theme/colors.scss";

:host {
  margin-bottom: 16px;
}

.list-item {
  display: grid;
  grid-template-rows: auto 1fr;
  border-left: solid $color-title-hover;
  margin: 10px;
  padding-left: 10px;
}

.list-item__name {
  color: $color-title;
}

.list-item__info {
  display: flex;
  gap: 10px;
}

.info__text {
  color: $color-gray;
}

.botton-border {
  border-bottom: solid $color-border;
}

.border {
  color: $color-border;
}